html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
body{
    background: linear-gradient(to right,white,lightgreen);
}
h1{
    margin-top: 7vh;
    font-weight: bold;
}

.left{
    display: block;
   
}
.right{
    padding-right: 10%;
    justify-content: center;
    align-content: center;
}

#divider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fa-star{
    padding-left: 15%;
    padding-right:15%;
}


.btn{
    margin-left:25%;
}

#line1,#line2{  
    font-size:1.5rem;
    font-weight: bolder;
}
